
/* HIDE EXISTING HEADER */

#ngpvan-tabs-bar, .masterbanner {
  display: none;
}


/* DISPLAY GLOBAL HEADER */

#new-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

#global-header {
  background-color: #3498DB;
  overflow: hidden;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1250px;
}

ul#logos {
  width: 400px;
  float: left;
}

#global-header .right {
  float: right;
  color: white;
  font-size: 14px;
}

#global-header .right li {
  float: left;
  cursor: pointer;
  opacity: .8;
}

#global-header .right li:hover {
  opacity: 1;
}

#global-header .right .picture {
  margin-right: 10px;
}

#global-header .right .nub {
  margin-top: 10px;
  margin-left: 10px;
}

.nub img {
  width: 10px;
}

#global-header .right .help {
  margin-right: 15px;
  border-right: 1px solid #AAA;
  height: 25px;
  padding: 3px 15px;
}

#global-header .right .picture img {
  height: 25px;
}

li.profile .picture, li.profile .name, li.profile .nub {
  float: left
}

li.profile .name {
  padding-top: 3px;
}

#branding li {
  float: left;
}

#branding .subcommittee {
  margin-left: 12px;
  color: #fff;
  font-size: 16px;
  padding: 3px 6px 4px 6px;
  border: 1px solid #fff;
  opacity: .7;
}

#branding .committee img {
  height: 25px;
}


#global-header .left {
  float: left;
}

#global-header .left li {
  float: left;
}

#global-header .left .committee img {
  height: 23px;
  margin-top: 1px;
}

#global-header .left .subcommittee {
  margin-left: 12px;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px 4px 6px;
  border: 1px solid #fff;
  opacity: .7;
  cursor: pointer;
}

#global-header .left .subcommittee:hover {
  opacity: 1;
}

#global-header .left .text {
  float: left;
}

#global-header .left .nub {
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}








#van-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 5px 0px 7px 0px;
  overflow: hidden;
  position: relative;
}

.van-header-wrapper {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

ul#tabs {
  float: left;
  color: white;
  font-size: 14px;
}

ul#tabs li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  padding: 4px 10px;
}

ul#tabs li.my-voters.selected {
  background-color: #3498DB;
}

ul#tabs li.my-campaign.selected {
  background-color: #12ae6a;
}

ul#tabs li.my-workers.selected {
  background-color: #e05f25;
}
ul#tabs li.my-casework.selected {
  background-color: #31bdb5;
}


ul#tabs li.my-voters:hover {
  background-color: #3498DB;
}

ul#tabs li.my-campaign:hover {
  background-color: #12ae6a;
}

ul#tabs li.my-workers:hover {
  background-color: #e05f25;
}

ul#tabs li.my-casework:hover {
  background-color: #31bdb5;
}

.van-header-backdrop {
  background-color: #3498DB;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}