.wrapper
  ul.left
    li.committee
    li.flag
    li.title - New Jersey

  ul.right
    li.link Go To
    li.link.notifications Notifications (4)
      include notifications.jade
    //- li.link AFL-CIO Switch
    //- li.help Logout
    li.profile
      .picture
      .name Aharon Wasserman
      .nub
