.wrapper
  ul.left
    li.committee
    li.flag
    li.title - Labor Action Network
    //- li.subcommittee 
    //-   .text New Jersey
    //-   .nub

  ul.right
    li.link Go To
    li.link AFL-CIO Switch
    li.help Logout
    li.profile
      .picture
      .name Aharon Wasserman
      .nub
