.van-header-backdrop
.van-header-wrapper

  ul#tabs
    li.my-voters.selected(data-color='#cc0000') Voter Reg
    li.my-campaign(data-color='#12ae6a') My Members
    li.my-workers(data-color='#e05f25') My Workers
    li.my-casework(data-color='#31bdb5') My Voters
    li.my-casework(data-color='#31bdb5') Working America
    li.my-casework(data-color='#31bdb5') My Campaign