ul#notifications

  li
    .top
      .icon
      .title Create A List with Explorer
      .dismiss Dismiss

    .bottom
      .actor Uretsky, Josh
      .time-ago 20m ago

  li
    .top
      .icon
      .title Screen shot of LHS ...
      .dismiss Dismiss

    .bottom
      .actor Vardarmis, Torvic
      .time-ago 41m ago

  li
    .top
      .icon
      .title New Look and copy/paste
      .dismiss Dismiss

    .bottom
      .actor Graham, Neale
      .time-ago 1d ago

  li
    .top
      .icon
      .title Exports error
      .dismiss Dismiss

    .bottom
      .actor O'Connor, Colin
      .time-ago 1w ago

  li
    .top
      .icon
      .title CAL page sections...
      .dismiss Dismiss

    .bottom
      .actor Zigler, Will
      .time-ago 2mo ago

  li.view-all
    | View All