.van-header-backdrop
.van-header-wrapper

  ul#tabs
    li.my-voters.selected(data-color='#00aff3') My Voters
    li.my-campaign(data-color='#12ae6a') My Campaign
    li.my-workers(data-color='#e05f25') My Workers
    li.my-casework(data-color='#31bdb5') My Casework