#publisher
  .bar
    .toggle
    .arrow
  .field
    textarea(placeholder="Share something...")
    .instructions Press ENTER to post
ul#nf

  li
    .right
      .headline
        .author-name Aharon Wasserman
        .author-position Field Organizer
      .post-content Oh, it's a jolly holiday with Mary. Mary makes your 'eart so light. When the day is gray and ordinary, Mary makes the sun shine bright!
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
      .interactions
        .likes
          span Liked by
          a.name Rob Winikates
          span and
          a.others 4 others
        ul.comments
          li
            .right
              .comment-content
                .commenter-name Rob Winikates
                .comment-text Love that song.
              .comment-footer
                .comment-timestamp 3m ago
            .left
              .commenter-photo(style="background-image:url('https://scontent-a-lga.xx.fbcdn.net/hphotos-frc1/t1.0-9/1601277_10101210942613091_487320413_n.jpg')")
          li
            .right
              .comment-content
                .commenter-name Aharon Wasserman
                .comment-text Yeah, me too.
              .comment-footer
                .comment-timestamp 1m ago
            .left
              .commenter-photo(style="background-image:url('https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/t31.0-8/737027_10102205194030369_686311291_o.jpg')")
        .post-comment
          input(placeholder="Write a comment...")
    .left
      .author-photo(style="background-image:url('https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/t31.0-8/737027_10102205194030369_686311291_o.jpg')")

  li
    .right
      .headline
        .author-name Rob Winikates
        .author-position Regional Field Director
      .post-content Interesting article on our race.
        .link-box
          .link-photo(style="background-image:url('http://espnfivethirtyeight.files.wordpress.com/2014/03/477890567banner.jpg')")
          .link-title FiveThirtyEight Senate Forecast: GOP Is Slight Favorite in Race for Senate Control
          .link-preview When FiveThirtyEight last issued a U.S. Senate forecast - way back in July - we concluded the race for Senate control was a toss-up. That was a little ahead of the...
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
      .interactions
        .likes
          span Liked by
          a.name John Lee
          span and
          a.others 16 others
        .post-comment
          input(placeholder="Write a comment...")
    .left
      .author-photo(style="background-image:url('https://scontent-a-lga.xx.fbcdn.net/hphotos-frc1/t1.0-9/1601277_10101210942613091_487320413_n.jpg')")

  li
    .right
      .headline
        .author-name Justin Lewis
        .author-position CTO
      .post-content
        img(src="http://designyoutrust.com/wp-content/uploads6/ob8.jpg")
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
    .left
      .author-photo(style="background-image:url('https://scontent-b-lga.xx.fbcdn.net/hphotos-prn1/t31.0-8/886466_10101162219499827_494481719_o.jpg');background-position:90%;")

  li
    .right
      .headline
        .author-name Stu Trevelyan
        .author-position Finance Director
      .post-content Oh 'appiness is bloomin' all around 'er. The daffoldils are smilin' at the dove. When Mary 'olds your 'and you feel so grand, your 'eart starts beatin' like a big brass band. Oh, it's a jolly holiday with Mary. No wonder that it's Mary that we love!
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
    .left
      .author-photo(style="background-image:url('https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/t1.0-9/310253_10150309612795723_421724457_n.jpg')")

  li
    .right
      .headline
        .author-name John Lee
        .author-position Intern
      .post-content Oh, it's a jolly holiday with Mary. Mary makes your 'eart so light. When the day is gray and ordinary, Mary makes the sun shine bright!
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
    .left
      .author-photo(style="background-image:url('https://scontent-a-lga.xx.fbcdn.net/hphotos-frc3/t1.0-9/1375207_10100194950549360_503587346_n.jpg')")

  li
    .right
      .headline
        .author-name Drew Miller
        .author-position Press Secretary
      .post-content Oh, it's a jolly holiday with Mary. Mary makes your 'eart so light. When the day is gray and ordinary, Mary makes the sun shine bright!
      .footer
        a.time-ago 5m ago
        span.dot •
        a.comment Comment
        span.dot •
        a.like Like
    .left
      .author-photo(style="background-image:url('https://scontent-a-lga.xx.fbcdn.net/hphotos-frc1/t1.0-9/1601277_10101210942613091_487320413_n.jpg')")
